
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
/*BLACK*/
@font-face {
  font-family: 'GalanoGrotesqueBlack';
  src: url('../../fonts/GalanoGrotesqueAlt-Black.woff2') format('woff2'),
      url('../../fonts/GalanoGrotesqueAlt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*MEDIUM*/
@font-face {
  font-family: 'GalanoGrotesqueMedium';
  src: url('../../fonts/GalanoGrotesqueAlt-Medium.woff2') format('woff2'),
      url('../../fonts/GalanoGrotesqueAlt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*lIGHT*/
@font-face {
  font-family: 'GalanoGrotesqueLight';
  src: url('../../fonts/GalanoGrotesqueAlt-Light.woff2') format('woff2'),
      url('../../fonts/GalanoGrotesqueAlt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*BOLD*/
@font-face {
  font-family: 'GalanoGrotesqueAltBold';
  src: url('../../fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
      url('../../fonts/GalanoGrotesque-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
 background-color:rgb(236, 232, 249);
  color:rgb(43, 43, 43);

}
  

a {
  color: rgb(152,105,243);
  text-decoration: none;
}

a:hover {
  color: rgb(152,105,243);
  text-decoration: none;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:  rgb(152,105,243);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background:rgb(255, 250, 77);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid rgb(152,105,243);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

#navegar{color: rgb(152,105,243);}


/*FONDO DE LATERAL DE NAV*/
#header{background-color: transparent; border: none;}

#logo {height: 40px;}

.nav-menu {
  padding: 0;
  display: block;
  background-color: transparent;

}

.nav-menu * {
  font-family: 'GalanoGrotesqueMedium';
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

/*¡¡I ICONOS!!*/
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: rgb(152,105,243);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

/*TEXTO DE NAV, COLOR*/
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: white;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }
/*NOSE DE QUE ES*/
  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

/*EL ICONO Y EL FONDO NAV CLICKEADO */
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color:  rgb(152,105,243);
  background:rgb(236, 232, 249);
}

/*EL TEXTO NAV CLICKEADO*/
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  
  color:  rgb(152,105,243);
}

/*APAREZCA EL CONTENIDO TOTAL DE LA BARRA*/
.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

/*BARRAS DE NAVEGACION SUPERIOR*/
.mobile-nav-toggle i {
  color:  rgb(152,105,243);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*LA 'X' AL HACER CLICK*/
.mobile-nav-active .mobile-nav-toggle {
  background-color:  rgb(255, 250, 77);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%; /*100% DEL ANCHO DE PANTALLA*/
  height: 100vh; /*100% DEL ALTO DEL ESPACIO VISUAL*/
  background: url("../img/iso.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#caro{
  margin-top: 10vw;
  width: 50%;
  margin-bottom: 0;
  margin-left: 0;
}


#hero p {
  color: black;
  margin-top: 0;
  margin-left: 50px;
  font-size: 30px;
  font-family: 'GalanoGrotesqueMedium';
  letter-spacing: 5px;
}

#hero p span {
  color:rgb(152,105,243);
  letter-spacing: 5px;
  text-shadow: 2px 2px white;
}




/****************  EDICION EN MEDIA ************/
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #caro{
    width: 90%;
    margin-top: -200px;
  }
/*
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
*/
  #hero p {
    text-align: center;
    margin-top: -50px;
    font-size: 20px;
    letter-spacing: 0;

  }

  #hero p span {
    text-shadow: 2px 2px white;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    letter-spacing:0px;

  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

/**linea bajo titulo*/
/*.section-title h2::before {

  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}*/

/**linea bajo titulo*/
/*.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}*/

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*HI H2*/
#Hi{
  margin-left: 10px;
  font-size: 80px;
  margin-top: 4vw;
  text-shadow: 3px 4px  rgb(152, 105, 243);
color:rgb(255, 250, 77);
font-family: 'GalanoGrotesqueBlack';
text-transform: none;}



#about{background-color:rgb(220, 218, 249)}

/*TITULO IM MACARENA CAR0*/
.about .content h3 {
  padding-left: 10px;
  margin-top: 2VW;
  font-family:'GalanoGrotesqueAltBold';
  font-weight: 700;
  font-size: 26px;
  color: rgb(152, 105, 243);
}

#pAbout{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin-top: 2vw;
 font-family: 'GalanoGrotesqueLight';
 text-align:justify;
 width: 130%;
}

#icons{
  padding-left: 10px;
  margin-top: 2vw;
  height: 60px;
}

/****************  EDICION EN MEDIA ************/
@media (max-width: 992px) {

  #selfie{
    margin-top: -10px;
    width: 100%;
  }

/*HI H2*/
#Hi{
  margin-left: 10px;
  margin-top: -20vw;
  }



.about .content h3 {
  margin-top: 4vw;
}
  #pAbout{
    line-height: 1.5;
    font-size: 17px;
    margin-top: 4vw;
   font-family: 'GalanoGrotesqueLight';
   text-align:justify;
   width: 100%;
  }

  #icons{
    margin-top: 4vw;

  }

}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio{background-color:rgb(247, 247, 255)}

#projects{
  font-size: 100px;
  margin-top: 1vw;
  text-shadow: 3px 4px  rgb(152, 105, 243);
color:rgb(255, 250, 77);
font-family: 'GalanoGrotesqueBlack';
text-transform: none;}

#slogan{
margin-top: 10px;
letter-spacing: 4px;
font-family: 'GalanoGrotesqueLight';
text-transform: uppercase;
color:rgb(152, 105, 243);
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
  /*DETALLE DE FILTROS DE MUESTRA ALL, INDUSTRIAL DESIGN , ETC*/

  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    padding: 2px 15px;
  
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: rgb(152, 105, 243);
    margin-bottom: 5px;
    
    transition: all 0.3s ease-in-out;
    
  }


  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color:rgb(243, 85, 142)
  }

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}



.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************** DETALLES EN LOS HOVER DE IMAGENES ************/
/*BORDES EN EL DETALLE DE CADA FOTOGRAFIA*/
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgb(152, 105, 243);
  border-left: 3px solid  rgb(152, 105, 243);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

/*BORDES EN EL DETALLE DE CADA FOTOGRAFIA*/
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid  rgb(152, 105, 243);
  border-right: 3px solid  rgb(152, 105, 243);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

/* DETALLES HOVER EN FOTOGRAFIA*/
/*TITULO*/
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-family: 'GalanoGrotesqueMedium';
  font-size: 20px;
  color:rgb(152, 105, 243);;
}
/*SUBTITULO*/
.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  font-family: 'GalanoGrotesqueLight';
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}


/* LINKS PARA VER EL DETALLE DEL PORTAFOLIO*/
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}


.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: rgb(152, 105, 243);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

@media (max-width: 992px) {

  #projects{
    margin-bottom: -20px;
    font-size: 55px;
    margin-top: 1vw;
    text-shadow: 3px 4px  rgb(152, 105, 243);
  }
  

  #slogan{
    display: none;
    }

    .portfolio #portfolio-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 5px 5px;
      font-size: 17px;
      font-weight: 600;
      line-height: 1;
      color: rgb(152, 105, 243);
      margin-bottom: 5px;
      
      transition: all 0.3s ease-in-out;
      
    }
}



*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact{background-color:rgb(236, 232, 249) ;
}

#items #tienes{
float: right;
 width: 140%;
 margin-right: 0%;
padding-left:45%;
}


/*RENDER*/
#contactBack{width: 120%;
margin-left: -30px;
margin-bottom: 0px;}

#items{float: right;
  margin-right: 0px}

/*TIENES UN PROYECTO?*/
#tienes{
  font-size: 70px;
  margin-top: 0px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: -20vw;
  text-shadow: 3px 4px  rgb(152, 105, 243);
color:rgb(255, 250, 77);
font-family: 'GalanoGrotesqueBlack';
text-transform: none;}

#items{padding-bottom: 0px;margin-bottom: 0px;}

#lets{text-align: right;
  margin-right: 10px; 
  margin-top: 70px;
  font-family: 'GalanoGrotesqueBlack';
font-size: 55px;
color: rgb(172, 137, 255);
}

.btnContact{height:12%;
  padding-left: 400px ;
  margin-right: 10px;
  margin-top: 30px;
  float: right;}


#items .social-links {
  margin-right: 10px;
  float: right;
  margin-top: 3vw;
}

#items .social-links a {
  font-size: 300%;
  display: inline-block;
  color:  rgb(172, 137, 255);
  line-height: 1;
  margin-right: 10px;
  transition: 0.3s;
}

#items .social-links a:hover {
  color:rgb(243, 85, 142);
}



@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {

  #contact{
    background:rgb(236, 232, 249);
    padding-top: 30vw;
    margin-top: -40px;
    margin-bottom: -30vw;
    height: 140vw;
    padding-bottom:150vw;

  }

  #items{ 
  background: url("../img/renderPantalla.png") top right no-repeat;
    background-position: right 100px;
    background-size:contain;
    position: relative;}

  #tienes{
    text-align: center;

    font-size: 40px;
    margin-top: -50px;
    margin-bottom: -50px;
}

  #lets{
    color: rgb(152, 105, 243);
    text-align: center; 
    margin-top:30px;
    font-size: 40px;
    }

  /*RENDER LA IMG, NO EL FONDO*/
#contactBack{display: none;}

  .btnContact{
    height:11vw;
    margin-right: 10px;
    margin-top: 82vw;}

  #items .social-links {
    float: left;
   /* margin-top: -10vw;*/
    padding-right: 10px;
   /* margin-bottom: 70vw;*/
  }
  
  #items .social-links a {
    padding-left: 10px;
    font-size: 9vw;  
  }
  
  }
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:rgb(152, 105, 243);
  color: white;
  font-size: 14px;
  text-align: right;
  margin-bottom: 0px;
height:12vw;
margin-top: 0px;
}

#footer h4 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  position: relative;
  font-family: 'GalanoGrotesqueLight';
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 10px;
 
}


#footer .credits {
  font-family: 'GalanoGrotesqueLight';
  font-size:13px;
  padding-left: 10px;
}

@media (max-width: 992px) {
  #footer {
    background-color:rgb(152, 105, 243);
    margin-top: 30vw;
    text-align: left;
    margin-bottom: 0px;
    height: 23vw;;
 
  }

  #footer h4 {
    font-size: 15px;
    letter-spacing: 3px;
    padding-top:20px ;

  }

  
}
